<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yangjrun.bookkeeping.dao.PaymentTypeDao" >

    <insert id="insert" parameterType="cn.yangjrun.bookkeeping.entity.PaymentType">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select uuid() as id from dual
        </selectKey>
        INSERT INTO
        payment_type
        (id,`value`)
        VALUES
        (#{id},#{value})
    </insert>

    <select id="list" resultType="cn.yangjrun.bookkeeping.entity.PaymentType">
        select * from payment_type
    </select>

</mapper>