<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yangjrun.bookkeeping.dao.SysRoleMenuDao" >
    <resultMap id="BaseResultMap" type="cn.yangjrun.bookkeeping.entity.SysRoleMenu">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="menu_id" property="menuId"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

</mapper>